</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<div class='text-nome'>
  Projeto desenvolvido por:   Rogério Gomes 
  <a target="_blank" href='https://www.linkedin.com/in/rogeriogomes2009'>
      <img class="img-link" 
           src="/images/linkedin-icon.png"/></a>
  <a target="_blank"  href='https://github.com/rogeriogomes2009'>
      <img class="img-link3" 
          src="/images/git.png"/></a>
  <div>
    <div class='mt-2'>
    <a><img class='img-link2' src='/images/logo_semana_fsm.png'/></a>
    <Link>
    <a target="_blank" href= 'http://www.devpleno.com'>
    <img class='img-link2' src='/images/logo_devpleno.png' /></a>
    </Link>
  </div>
</div>
</body>
</html>